<div class="row">
  <div class="col ">
      <div class="m-auto ha">
  
      <div class="he"><h2>Create account</h2> </div><Br>
   
  
  <div class="input-group flex-nowrap w-50 m-auto ">
     
      <input type="text " class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div><br><br>
  
  
    <div class="input-group flex-nowrap m-auto w-50">
      <input type="text" class="form-control" placeholder="paasward" aria-label="Username" aria-describedby="addon-wrapping">
    </div><br><br>
  
    <div class="he "> <button type="button" class="btn btn-dark w-50 ">signup</button></div><br><br>
  
    <div class="he"><span>Alreday have an account?</span>
    <h3>login here</h3>
   </div>
    
  
  </div>
  
      </div>
  
  <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://th.bing.com/th/id/OIP.oIyy9GnF9VjAuD_uORjFXwHaJQ?w=140&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://th.bing.com/th/id/OIP.j--Ml_6eb9RJKp5R4XBH7wHaEK?w=165&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://th.bing.com/th/id/OIP.IzqKgEiWskhWKztNtiVqCAHaE8?w=179&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
  </div>
  </div>